<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8"/>
<title>飞猫商城</title>
<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no"/>
<link rel="stylesheet" href="/stylesheets/mall/mallMeizu.css">
<link rel="stylesheet" href="https://res.wx.qq.com/open/libs/weui/1.1.2/weui.min.css">
<script src="/javascripts/mall/mall_1.js"></script>
</head>
<body>

<!-- 顶部logo,search,account -->  
<div class="app index">
    <div id="scroll-wrap" class="scroll-wrap">
        <div class="scroll-view">
            <header id="header" class="header">
                <div class="title">飞猫商城</div>
                <div class="logo" >
                    <a href="http://www.baidu.com" data-mtype="mall_index_yt_logo">
                        <img src="images/mall/shop_logo_2.png" style="width:50px; margin:20; display:block">
                    </a>
                </div>
                <div class="qtool">
                    <a id="btn-search"><i class="iconfont ico-search"></i></a>
                    <a id="user-name" href="/"><i class="iconfont ico-member"></i></a>
                </div>
            </header>

<!-- 轮播图 -->         
<div id="indexSlider" class="top-slider swipe">
    <div class="swipe-wrap">
<!--         <div class="item">
            <a href="https://hd.mall.meizu.com/sale/618.html?click=mall_index_ba_1" data-mtype="mall_index_ba_1"><img class="be-lazy" src="/images/carousels/carousel_1.jpg" data-src="" alt=""/></a>
        </div> -->
        <div class="item">
            <a href="http://www.baidu.com"><img class="be-lazy" src="/images/carousels/carousel_4.jpg" data-src="" alt=""/></a>
        </div>
        <div class="item">
            <a href="http://www.baidu.com"><img class="be-lazy" src="/images/carousels/carousel_5.jpg" data-src="" alt=""/></a>
        </div>
        <div class="item">
            <a href="http://www.baidu.com"><img class="be-lazy" src="/images/carousels/carousel_2.jpg" data-src="" alt=""/></a>
        </div>
        <div class="item">
            <a href="http://www.baidu.com"><img class="be-lazy" src="/images/carousels/carousel_3.jpg" data-src="" alt=""/></a>
        </div>
        <div class="item">
            <a href="http://www.baidu.com"><img class="be-lazy" src="/images/carousels/carousel_6.jpg" data-src="" alt=""/></a>
        </div>
    </div>
</div>

<!-- 频道 -->  
<div class="channel">
    <div class="row orient-h">
        <div class="item">
            <a href="https://hd.mall.meizu.com/activity/meizu.html?click=mall_index_gd_1" data-mtype="mall_index_gd_1">
                <span style="background-image: url(//openfile.meizu.com/group1/M00/00/31/Cix_s1ey6muAcig9AAAPTa1fB5A416.png);" class="icon"></span>
                <span class="name">品牌日</span>
            </a>
        </div>
        <div class="item">
            <a href="http://m.hd.meizu.com/activity/huabei_channel.html?click=mall_index_gd_2" data-mtype="mall_index_gd_2">
                <span style="background-image: url(//openfile.meizu.com/group1/M00/00/3D/CnQOjVe8DqOAbMtOAAANSdyAxyU981.png);" class="icon"></span>
                <span class="name">分期免息购</span>
            </a>
        </div>
        <div class="item">
            <a href="http://ordercenter.mall.meizu.com/mall/order/init.html?click=mall_index_gd_3" data-mtype="mall_index_gd_3">
                <span style="background-image: url(//openfile.meizu.com/group1/M00/00/30/CnQOjVey6nSADwTOAAAN7hgzuDQ802.png);" class="icon"></span>
                <span class="name">我的订单</span>
            </a>
        </div>
        <div class="item">
            <a href="http://mall.meizu.com/category/index?click=mall_index_gd_4" data-mtype="mall_index_gd_4">
                <span style="background-image: url(//openfile.meizu.com/group1/M00/00/31/Cix_s1ey6pOAEsGUAAALuT1UZJc463.png);" class="icon"></span>
                <span class="name">分类</span>
            </a>
        </div>
    </div>
</div>

<!-- 活页广告 -->  
<div class="act-bar">
    <a href="http://www.baidu.com"><img src="/images/adPages/adPage_1.jpg"/></a>
</div>

<!-- 自己商品特别展示 -->
<div class="hipost card">
    <div class="grids">
        <div class="row orient-h tricol">
            <div class="cell">
                <a href="http://www.baidu.com"><img class="be-lazy" src="/images/mall/mall_diaper.jpg"/></a>
            </div>
            <div class="cell">
                <a href="http://www.baidu.com"><img class="be-lazy" src="/images/mall/mall_lamp.png"/></a>
            </div>
            <div class="cell">
                <a href="http://www.baidu.com"><img class="be-lazy" src="/images/mall/mall_pm2.5.jpg"/></a>
            </div>
        </div>
    </div>
</div>

<!-- 相关产品推荐/左右两栏 -->
<div class="card">
    <div class="hd">
        <div class="tit">相关推荐</div>
    </div>
    <div class="grids">
        <!-- .row -->
        <div class="row orient-h ">
            <div class="cell">
                <a class="" href="http://www.baidu.com">
                    <div class="pic">
                        <span class="pic-cell"><img class="be-lazy" src="/images/mall/mall_ bp2.jpg"/></span>
                    </div>
                    <div class="info">
                        <div class="intro">
                           <h3>魅族路由器 极速版</h3>
                           <p class="comment">天生不凡 快狠稳</p>
                        </div>
<!--                         <div class="price">
                           <span class="p-sale">&yen;169</span>
                           <span class="p-orn"><del>¥199</del></span>
                        </div> -->
                    </div>
                </a>
            </div>
            <div class="cell">
                <a class="" href="http://www.baidu.com">
                    <div class="pic">
                        <span class="pic-cell"><img class="be-lazy" src="/images/mall/mall_ bp2.jpg"/></span>
                    </div>
                    <div class="info">
                        <div class="intro">
                           <h3>魅族路由器 极速版</h3>
                           <p class="comment">天生不凡 快狠稳</p>
                        </div>
<!--                         <div class="price">
                           <span class="p-sale">&yen;169</span>
                           <span class="p-orn"><del>¥199</del></span>
                        </div> -->
                    </div>
                </a>
            </div>        
        </div>
       <!-- .row -->
        <div class="row orient-h ">
            <div class="cell">
               <a class="" href="http://www.baidu.com">
                   <div class="pic">
                       <span class="pic-cell"><img class="be-lazy" src="/images/mall/mall_ bp1.jpg"/></span>
                   </div>
                   <div class="info">
                       <div class="intro">
                           <h3>纽曼虚拟现实智能VR眼镜 </h3>
                           <p class="comment">佩戴舒适 人性化设计</p>
                       </div>
<!--                        <div class="price">
                           <span class="p-sale">&yen;35.9</span>
                           <span class="p-orn"><del>¥59</del></span>
                       </div> -->
                   </div>
               </a>
            </div>
            <div class="cell">
                <a class="" href="http://www.baidu.com">
                    <div class="pic">
                        <span class="pic-cell"><img class="be-lazy" src="/images/mall/mall_ bp1.jpg"/></span>
                    </div>
                    <div class="info">
                        <div class="intro">
                            <h3>暴风魔镜S1</h3>
                            <p class="comment">支持3期免息</p>
                        </div>
<!--                         <div class="price">
                            <span class="p-sale">&yen;179</span>
                            <span class="p-orn"><del>¥199</del></span>
                        </div> -->
                    </div>
                </a>
            </div>
        </div>

       <!-- .row -->
        <div class="row orient-h ">
            <div class="cell">
               <a class="" href="http://www.baidu.com">
                   <div class="pic">
                       <span class="pic-cell"><img class="be-lazy" src="/images/mall/mall_ bp1.jpg"/></span>
                   </div>
                   <div class="info">
                       <div class="intro">
                           <h3>纽曼虚拟现实智能VR眼镜 </h3>
                           <p class="comment">佩戴舒适 人性化设计</p>
                       </div>
<!--                        <div class="price">
                           <span class="p-sale">&yen;35.9</span>
                           <span class="p-orn"><del>¥59</del></span>
                       </div> -->
                   </div>
               </a>
            </div>
            <div class="cell">
                <a class="" href="http://www.baidu.com">
                    <div class="pic">
                        <span class="pic-cell"><img class="be-lazy" src="/images/mall/mall_ bp1.jpg"/></span>
                    </div>
                    <div class="info">
                        <div class="intro">
                            <h3>暴风魔镜S1</h3>
                            <p class="comment">支持3期免息</p>
                        </div>
<!--                         <div class="price">
                            <span class="p-sale">&yen;179</span>
                            <span class="p-orn"><del>¥199</del></span>
                        </div> -->
                    </div>
                </a>
            </div>
        </div>

       <!-- .row -->
        <div class="row orient-h ">
            <div class="cell">
               <a class="" href="http://www.baidu.com">
                   <div class="pic">
                       <span class="pic-cell"><img class="be-lazy" src="/images/mall/mall_ bp1.jpg"/></span>
                   </div>
                   <div class="info">
                       <div class="intro">
                           <h3>纽曼虚拟现实智能VR眼镜 </h3>
                           <p class="comment">佩戴舒适 人性化设计</p>
                       </div>
<!--                        <div class="price">
                           <span class="p-sale">&yen;35.9</span>
                           <span class="p-orn"><del>¥59</del></span>
                       </div> -->
                   </div>
               </a>
            </div>
            <div class="cell">
                <a class="" href="http://www.baidu.com">
                    <div class="pic">
                        <span class="pic-cell"><img class="be-lazy" src="/images/mall/mall_ bp1.jpg"/></span>
                    </div>
                    <div class="info">
                        <div class="intro">
                            <h3>暴风魔镜S1</h3>
                            <p class="comment">支持3期免息</p>
                        </div>
<!--                         <div class="price">
                            <span class="p-sale">&yen;179</span>
                            <span class="p-orn"><del>¥199</del></span>
                        </div> -->
                    </div>
                </a>
            </div>
        </div>                
    </div>
</div>
<div>
    <div id="go-top" class="go-top"></div>
</div>
<!-- 公司授权 -->
<div class="weui-footer" style="margin-top:500">
    <p class="weui-footer__links">
        <a href="http://www.ydytech.net" class="weui-footer__link">医电园科技</a>
    </p>
    <p class="weui-footer__text">Copyright &copy; 2016-2017 ydytech.net</p>
</div>
    <script src="/javascripts/mall/zepto.js"></script>
    <script src="/javascripts/mall/index-7cb518bdf2.js"></script>
</body>
</html>