<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8"/>
<title>品牌商城</title>
<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no"/>
<meta name="apple-mobile-web-app-capable" content="yes"/>
<meta name="apple-mobile-web-app-status-bar-style" content="black"/>
<meta name="format-detection" content="telephone=no,email=no"/>
<meta http-equiv="pragma" content="no-cache">
<meta http-equiv="cache-control" content="no-cache">
<meta http-equiv="expires" content="0">
<meta property="qc:admins" content="415077624446551256375" />
<link rel="stylesheet" href="/public/stylesheets/mallMeizu.css">
<link rel="shortcut icon" type="image/x-icon" href="//mall.res.meizu.com/index/img/favicon.ico" />
<link rel="apple-touch-icon" href="//mall.res.meizu.com/common/img/touchicon-120x120.png" />
<script>
!function(d) {
    var c = d.document;
    var a = c.documentElement;
    var b = d.devicePixelRatio;
    var f;
    function e() {
        var h = a.getBoundingClientRect().width,
        g;
        if (b === 1) {
            h = 720
        }
        g = h / 10;
        a.style.fontSize = g + "px"
    }
    if (b > 2) {
        b = 3
    } else {
        if (b > 1) {
            b = 2
        } else {
            b = 1
        }
    }
    a.setAttribute("data-dpr", b);
    d.addEventListener("resize",
    function() {
        clearTimeout(f);
        f = setTimeout(e, 200)
    },
    false);
    e()
} (window);
</script>
</head>
<body>
<div class="app index">
    <div id="scroll-wrap" class="scroll-wrap">
        <div class="scroll-view">
            <header id="header" class="header">
                <div class="title">魅族商城</div>

                <div class="logo">
                    <a href="http://m.meizu.com" data-mtype="mall_index_yt_logo">
                        <i class="ico-logo"></i>
                    </a>
                </div>

                <div class="qtool">
                    <a id="btn-search"><i class="iconfont ico-search"></i></a>
                    <a id="user-name" href="//me.m.meizu.com" data-url="//mall.meizu.com/user/info" data-mtype="mall_index_yt_user"><i class="iconfont ico-member"></i></a>
                </div>
            </header>

            <script>
                if (/MzmApp/.test(navigator.userAgent)) {
                    document.getElementById('header').remove();
                }
            </script>
            <div class="maincon">
<div id="indexSlider" class="top-slider swipe">
    <div class="swipe-wrap">
                        <div class="item">
                    <a href="https://hd.mall.meizu.com/sale/618.html?click=mall_index_ba_1" data-mtype="mall_index_ba_1"><img class="be-lazy" src="//mall.res.meizu.com/common/img/blank.png"
                                     data-src="//openfile.meizu.com/group1/M00/01/98/Cgbj0VkvqxqAZdWnAAJM9VK5v3M658.jpg" alt=""/></a>
                </div>
                <div class="item">
                    <a href="//detail.mall.meizu.com/item/meilannote5.html?click=mall_index_ba_2" data-mtype="mall_index_ba_2"><img class="be-lazy" src="//mall.res.meizu.com/common/img/blank.png"
                                     data-src="//openfile.meizu.com/group1/M00/01/98/Cgbj0VkvesmAd_eaAAGxmayVFQU272.jpg" alt=""/></a>
                </div>
                <div class="item">
                    <a href="//detail.mall.meizu.com/item/pro_6s.html?click=mall_index_ba_3" data-mtype="mall_index_ba_3"><img class="be-lazy" src="//mall.res.meizu.com/common/img/blank.png"
                                     data-src="//openfile.meizu.com/group1/M00/01/98/Cgbj0VkvesiANIvDAAG9sii-VHs028.jpg" alt=""/></a>
                </div>
                <div class="item">
                    <a href="//detail.mall.meizu.com/item/meilan_e1.html?click=mall_index_ba_4" data-mtype="mall_index_ba_4"><img class="be-lazy" src="//mall.res.meizu.com/common/img/blank.png"
                                     data-src="//openfile.meizu.com/group1/M00/01/8B/Cgbj0FkvesmAYOzyAAHZtFg1mUQ330.jpg" alt=""/></a>
                </div>
                <div class="item">
                    <a href="//detail.mall.meizu.com/item/meilane2.html?click=mall_index_ba_5" data-mtype="mall_index_ba_5"><img class="be-lazy" src="//mall.res.meizu.com/common/img/blank.png"
                                     data-src="//openfile.meizu.com/group1/M00/01/97/Cgbj0VkuoWKADY9FAAF_PD3C-e0709.jpg" alt=""/></a>
                </div>
                <div class="item">
                    <a href="//detail.mall.meizu.com/item/meizu_hezi.html?click=mall_index_ba_6" data-mtype="mall_index_ba_6"><img class="be-lazy" src="//mall.res.meizu.com/common/img/blank.png"
                                     data-src="//openfile.meizu.com/group1/M00/00/DC/Cix_s1hjN_6AC6KXAAFpv3V2p1g133.png" alt=""/></a>
                </div>
    </div>
</div>

<div class="channel">
    <div class="row orient-h">
                <div class="item">
                <a href="https://hd.mall.meizu.com/activity/meizu.html?click=mall_index_gd_1" data-mtype="mall_index_gd_1">
                    <span style="background-image: url(//openfile.meizu.com/group1/M00/00/31/Cix_s1ey6muAcig9AAAPTa1fB5A416.png);" class="icon"></span>
                    <span class="name">品牌日</span>
                </a>
            </div>
            <div class="item">
                <a href="http://m.hd.meizu.com/activity/huabei_channel.html?click=mall_index_gd_2" data-mtype="mall_index_gd_2">
                    <span style="background-image: url(//openfile.meizu.com/group1/M00/00/3D/CnQOjVe8DqOAbMtOAAANSdyAxyU981.png);" class="icon"></span>
                    <span class="name">分期免息购</span>
                </a>
            </div>
            <div class="item">
                <a href="http://ordercenter.mall.meizu.com/mall/order/init.html?click=mall_index_gd_3" data-mtype="mall_index_gd_3">
                    <span style="background-image: url(//openfile.meizu.com/group1/M00/00/30/CnQOjVey6nSADwTOAAAN7hgzuDQ802.png);" class="icon"></span>
                    <span class="name">我的订单</span>
                </a>
            </div>
            <div class="item">
                <a href="http://mall.meizu.com/category/index?click=mall_index_gd_4" data-mtype="mall_index_gd_4">
                    <span style="background-image: url(//openfile.meizu.com/group1/M00/00/31/Cix_s1ey6pOAEsGUAAALuT1UZJc463.png);" class="icon"></span>
                    <span class="name">分类</span>
                </a>
            </div>
 
    </div>
</div>
<!-- .channel -->

<div class="act-bar">
                <a href="//detail.mall.meizu.com/item/meilane2.html?click=mall_index_ggw" data-mtype="mall_index_ggw"><img src="//openfile.meizu.com/group1/M00/01/89/Cgbj0FkunK6ATcnRAAEd0AdxfGY444.jpg"/></a>
</div>

<div class="hipost card">
    <div class="grids">
        <div class="row orient-h tricol">
                                <div class="cell">
                        <a href="//detail.mall.meizu.com/item/meilan5s.html?click=mall_index_pd_1" data-mtype="mall_index_pd_1"><img class="be-lazy" src="//mall.res.meizu.com/common/img/blank.png" data-src="//openfile.meizu.com/group1/M00/01/96/Cgbj0VkuleqAJVYQAAB5cnhoROg548.jpg"/></a>
                    </div>
                    <div class="cell">
                        <a href="//detail.mall.meizu.com/item/pro6plus.html?click=mall_index_pd_2" data-mtype="mall_index_pd_2"><img class="be-lazy" src="//mall.res.meizu.com/common/img/blank.png" data-src="//openfile.meizu.com/group1/M00/00/25/Cgbj0Vj5e0eAGPlkAABsmXuaU-Y933.jpg"/></a>
                    </div>
                    <div class="cell">
                        <a href="//detail.mall.meizu.com/item/meilannote5.html?click=mall_index_pd_3" data-mtype="mall_index_pd_3"><img class="be-lazy" src="//mall.res.meizu.com/common/img/blank.png" data-src="//openfile.meizu.com/group1/M00/01/96/Cgbj0VkuleqANc8tAACFFFzZysc403.jpg"/></a>
                    </div>
        </div>
    </div>
</div>

<div class="card recommend">
    <div class="hd">
        <div class="tit">热品推荐</div>
    </div>
    <div class="grids">
        <div class="bloc">
            <a href="//detail.mall.meizu.com/item/pro_6s.html?click=mall_index_kw_1_1" data-mtype="mall_index_kw_1_1">
                <div class="info">
                    <div class="intro">
                        <h3>魅族PRO 6s</h3>
                            <p class="sale-tag"><i>直降</i>200元</p>
                        
                    </div>
                    <div class="price">
                            <span class="p-sale">&yen;2299</span>
                            <span class="p-orn"><del>¥2499</del></span>
                    </div>
                </div>
                <div class="pic">
                    <img class="be-lazy" data-src="//openfile.meizu.com/group1/M00/01/99/Cgbj0VkxJzGAW7gCAAqULbIBw-M879_360x360.jpg" src="//mall.res.meizu.com/common/img/blank.png">
                </div>
            </a>
        </div>
        <div class="bloc">
            <a href="//detail.mall.meizu.com/item/meizu_shouhuan_h1.html?skuid=3455&click=mall_index_kw_1_2" data-mtype="mall_index_kw_1_2">
                <div class="info">
                    <div class="intro">
                        <h3>魅族手环</h3>
                        <p class="comment">腕间的心率专家</p>
                    </div>
                    <div class="price">
                            <span class="p-sale">&yen;229</span>
                    </div>
                </div>
                <div class="pic">
                    <img class="be-lazy" data-src="//openfile.meizu.com/group1/M00/01/95/Cgbj0VkuYyKADFk6AAOqzSlfPuA802_360x360.jpg" src="//mall.res.meizu.com/common/img/blank.png">
                </div>
            </a>
        </div>
        <div class="bloc">
            <a href="//detail.mall.meizu.com/item/meizu_hezi.html?skuid=2463&click=mall_index_kw_1_3" data-mtype="mall_index_kw_1_3">
                <div class="info">
                    <div class="intro">
                        <h3>魅族盒子</h3>
                        <p class="comment">一键找回遥控器</p>
                    </div>
                    <div class="price">
                            <span class="p-sale">&yen;399</span>
                    </div>
                </div>
                <div class="pic">
                    <img class="be-lazy" data-src="//openfile.meizu.com/group1/M00/01/88/Cgbj0FkuY0iAC3o9AAGoLQ8h81w185_360x360.jpg" src="//mall.res.meizu.com/common/img/blank.png">
                </div>
            </a>
        </div>
        <div class="bloc">
            <a href="//detail.mall.meizu.com/item/meilan5.html?click=mall_index_kw_1_4" data-mtype="mall_index_kw_1_4">
                <div class="info">
                    <div class="intro">
                        <h3>魅蓝 5</h3>
                            <p class="sale-tag"><i>免息</i>套餐含耳机</p>
                        
                    </div>
                    <div class="price">
                            <span class="p-sale">&yen;699 起</span>
                    </div>
                </div>
                <div class="pic">
                    <img class="be-lazy" data-src="//openfile.meizu.com/group1/M00/01/3E/Cgbj0FjdtduAbB9wAACR5HFlam4369_180x180.png" src="//mall.res.meizu.com/common/img/blank.png">
                </div>
            </a>
        </div>
        <div class="bloc">
            <a href="//detail.mall.meizu.com/item/meizu_ep51.html?skuid=696&click=mall_index_kw_1_5" data-mtype="mall_index_kw_1_5">
                <div class="info">
                    <div class="intro">
                        <h3>魅族运动耳机</h3>
                        <p class="comment">乐享动听</p>
                    </div>
                    <div class="price">
                            <span class="p-sale">&yen;269</span>
                    </div>
                </div>
                <div class="pic">
                    <img class="be-lazy" data-src="//openfile.meizu.com/group1/M00/00/2E/Cgbj0VkH5xGAcIeKAAHOwfpsRUs842_360x360.jpg" src="//mall.res.meizu.com/common/img/blank.png">
                </div>
            </a>
        </div>
    </div>
</div>




<div class="mid-slider swipe">
    <div class="swipe-wrap">
                <div class="item">
                <a href="//detail.mall.meizu.com/item/Toshiba_v8_YLC.html?click=mall_index_yl_2_1" data-mtype="mall_index_yl_2_1"><img class="be-lazy" src="//mall.res.meizu.com/common/img/blank.png" data-src="//openfile.meizu.com/group1/M00/00/2E/Cgbj0VkC4-iAXAeuAAEc4KAcY7c728.jpg" alt=""/></a>
            </div>
            <div class="item">
                <a href="//detail.mall.meizu.com/item/meizu_bag.html?click=mall_index_yl_2_2" data-mtype="mall_index_yl_2_2"><img class="be-lazy" src="//mall.res.meizu.com/common/img/blank.png" data-src="//openfile.meizu.com/group1/M00/01/81/Cgbj0FkmU8aABVJIAAEIENUDMLE434.jpg" alt=""/></a>
            </div>
    </div>
</div>

<div class="card ">
        <div class="hd">
        <div class="tit">智能硬件</div>
    </div>


<div class="grids">
                <div class="row orient-h ">
               <div class="cell cell-album">
                   <a class="" href="https://detail.meizu.com/item/meizu_shouhuan_h1.html?click=mall_index_kw_4_1" data-mtype="mall_index_kw_4_1">
                           <img class="be-lazy" src="//mall.res.meizu.com/common/img/blank.png" data-src="//openfile.meizu.com/group1/M00/01/5D/Cgbj0FkQKSmAXkzxAAB739gynIw278.jpg"/>
                   </a>
                   
               </div>
               <div class="cell">
                   <a class="" href="//detail.mall.meizu.com/item/router_f1.html?click=mall_index_kw_4_2" data-mtype="mall_index_kw_4_2">
                           <div class="pic">
                               <span class="pic-cell"><img class="be-lazy" src="//mall.res.meizu.com/common/img/blank.png" data-src="//openfile.meizu.com/group1/M00/01/99/Cgbj0VkxJmaAcSDbAABXVrwLVgU795_360x360.jpg"/></span>
                           </div>
                           <div class="info">
                               <div class="intro">
                                   <h3>魅族路由器 极速版</h3>
                                   <p class="comment">天生不凡 快狠稳</p>
                               </div>
                               <div class="price">
                                       <span class="p-sale">&yen;169</span>
                                       <span class="p-orn"><del>¥199</del></span>
                               </div>
                           </div>
                   </a>
                   
               </div>
           </div>
               <!-- .row -->
                <div class="row orient-h ">
               <div class="cell">
                   <a class="" href="//detail.mall.meizu.com/item/NM_VR30_YLC.html?skuid=3555&click=mall_index_kw_4_3" data-mtype="mall_index_kw_4_3">
                           <div class="pic">
                               <span class="pic-cell"><img class="be-lazy" src="//mall.res.meizu.com/common/img/blank.png" data-src="//openfile.meizu.com/group1/M00/01/8C/Cgbj0FkxH3KAN3qxAAPtb3y3Obc302_360x360.jpg"/></span>
                           </div>
                           <div class="info">
                               <div class="intro">
                                   <h3>纽曼虚拟现实智能VR眼镜 </h3>
                                   <p class="comment">佩戴舒适 人性化设计</p>
                               </div>
                               <div class="price">
                                       <span class="p-sale">&yen;35.9</span>
                                       <span class="p-orn"><del>¥59</del></span>
                               </div>
                           </div>
                   </a>
                   
               </div>
               <div class="cell">
                   <a class="" href="//detail.mall.meizu.com/item/BF_S1_android.html?skuid=3189&click=mall_index_kw_4_4" data-mtype="mall_index_kw_4_4">
                           <div class="pic">
                               <span class="pic-cell"><img class="be-lazy" src="//mall.res.meizu.com/common/img/blank.png" data-src="//openfile.meizu.com/group1/M00/01/99/Cgbj0VkxH5GAEY9tAAHFhtrFdCs509_360x360.jpg"/></span>
                           </div>
                           <div class="info">
                               <div class="intro">
                                   <h3>暴风魔镜S1</h3>
                                   <p class="comment">支持3期免息</p>
                               </div>
                               <div class="price">
                                       <span class="p-sale">&yen;179</span>
                                       <span class="p-orn"><del>¥199</del></span>
                               </div>
                           </div>
                   </a>
                   
               </div>
           </div>

</div>
</div>
<!-- .card -->


<div class="mid-slider swipe">
    <div class="swipe-wrap">
                <div class="item">
                <a href="//detail.mall.meizu.com/item/RAPOO_V56.html?click=mall_index_yl_3_1" data-mtype="mall_index_yl_3_1"><img class="be-lazy" src="//mall.res.meizu.com/common/img/blank.png" data-src="//openfile.meizu.com/group1/M00/01/5F/Cgbj0FkVd9KAJ1ICAAIOWS5yeHc844.jpg" alt=""/></a>
            </div>
            <div class="item">
                <a href="//detail.mall.meizu.com/item/router_f1.html?click=mall_index_yl_3_2" data-mtype="mall_index_yl_3_2"><img class="be-lazy" src="//mall.res.meizu.com/common/img/blank.png" data-src="//openfile.meizu.com/group1/M00/01/8E/Cgbj0VkmU8aAQmWNAAD_jjRF0Rg598.jpg" alt=""/></a>
            </div>
    </div>
</div>



    <div id="go-top" class="go-top"></div>
</div>
<!-- .app -->
<script defer src="//mall.res.meizu.com/lib/zepto/zepto.js"></script>
<script defer src="//mall.res.meizu.com/index/js/index-7cb518bdf2.js"></script>

<script>
    var __mzt = __mzt || [];
    (function() {
        var hm = document.createElement("script");
        hm.async = true;
        hm.src = "//sccom.res.meizu.com/js/analytics-min.js";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
    })();
</script>

<script>
    var _hmt = _hmt || [];
    (function() {
        var hm = document.createElement("script");
        hm.src = "//hm.baidu.com/hm.js?dd784e4788615e02f7a07fd1bed20cad";
        hm.async = true;
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
    })();
</script></body>
<script type="text/javascript" language="javascript">
    /**
     * @return {string}
     */
    function getUrlRelativePath(){
        var url = document.location.toString();
        var arrUrl = url.split("//");

        var start = arrUrl[1].indexOf("/");
        var relUrl = arrUrl[1].substring(start);//stop省略，截取从start开始到结尾的所有字符

        if(relUrl.indexOf("?") != -1){
            relUrl = relUrl.split("?")[0];
        }
        return relUrl;
    }
    function getCookie(name){
        var arr,reg=new RegExp("(^| )"+name+"=([^;]*)(;|$)");
        if(arr=document.cookie.match(reg))
            return unescape(arr[2]);
        else
            return null;
    }
    function delCookie(name){
        var exp = new Date();
        exp.setTime(exp.getTime() - 10000);
        var cval=getCookie(name);
        if(cval!=null) {
            document.cookie = name + "=" + cval + "; expires=" + exp.toGMTString() + "; domain=.meizu.com; path=/";
        }
    }
    var path = getUrlRelativePath();
    if(path.trim() == "/"){
        delCookie("MEIZUMALLLOGINFROM");
    }
</script>
</html>