<!DOCTYPE html>
<html lang="en">
<head>
    <title>我的设备</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <link rel="stylesheet" href="https://res.wx.qq.com/open/libs/weui/1.1.2/weui.min.css">
    <script src="http://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
    <script src="/javascripts/jquery.min.js"></script>
    <script src="/javascripts/ejs.min.js"></script>
</head>
<body>

<ul class="myDevices">
    <li class="myDevices">
        <h2>元素详情块</h2>
    </li>
    <li class="myDevices">
        <h2>元素详情块</h2>
    </li>
    <li class="myDevices">
        <h2>元素详情块</h2>
    </li>
    <li class="myDevices">
        <h2>...</h2>
    </li>
</ul>

<div class="weui-btn-area">
    <a id= "addDevBtn" href="/scanPage" class="weui-btn weui-btn_primary js-btn">添加新设备</a>
</div>
<script>
  // var people = ['geddy', 'neil', 'alex'],
  //     html = ejs.render('<%= people.join(", "); %>', {people: people});
</script>
</body>
</html>