<!DOCTYPE html>
<html lang="en">
<head>
    <title>排行榜</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <link rel="stylesheet" href="https://res.wx.qq.com/open/libs/weui/1.1.2/weui.min.css">
    <!-- <script src="http://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script> -->
    <!-- <script src="/javascripts/jquery.min.js"></script> -->
</head>
<body style='background-color: #123247'>
<div class="weui-btn-area">
    <a id= "addDevBtn" class="weui-btn weui-btn_primary">排行榜页面</a>
</div>
</body>
</html>